

<div>
  
  <div style= "width:100%;height:100%">
    <!-- <img src="https://user-images.githubusercontent.com/263237/36633897-d3237f2e-19ad-11e8-960a-daaf5ca3088a.png" alt="Raghav Jammi"> -->
    <img src="../assets/myImageLatest.jpg" alt="Raghav Jammi" height="235px" width="235px">
  </div>
  <div>
    <h4>Hi! I'am Raghavendra Jammi, Full Stack Developer</h4>
    <!-- <marquee behavior="slide" direction="right" scrollamount="4">Here is some slide-in text... coming in nice and slowly!</marquee> -->

  </div>
</div>